input[type] {
    border: 1px solid var(--color-gray-10);
    height: 2.625rem;
    padding: 0 0.75rem 0 0.75rem;
    font-size: 16px;
    line-height: 1.5rem;

    &:focus {
        outline: 1px solid var(--color-blue);
        box-shadow: 0 0 0.75rem var(--color-blue);;
        border: 1px solid #1da1f2;
    }
}