/* Variables */
:root {
  --color-white: #fff;
  --color-red: #c4122f;
  --color-gray: #eff0f1;
  --color-text: #001722;
  --ico-font: "FontAwesome";
  --shadow: 0 2px 4px rgba(0,0,0,0.3);
}

/* Breakpoints */
@custom-media --md (min-width: 1024px);
